<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sorcero Test Search</title>
</head>
<body>
    <div style="margin:auto;width:50%">
    <h1 style="position:relative;text-align:center">Search</h1>
    <input style="display:block;margin:auto;width:100%" type="text" size="100">
    </div>
    <div>
    <p id="log"></p>
    </div>
</body>
    {# Load socketIO #}
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    {# Handle input #}
    <script type="text/javascript">
        let input = document.querySelector('input');

        input.oninput = handleInput;
        let socket = io();

        function handleInput(e) {
            socket.emit('textInput', {data: e.target.value});
            console.log(e.target.value)
        }
    </script>
</html>